.info-agente {
    padding: 6px;
}
.info-agente h2 {
    font-size: 18px;
}
.info-agente ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
}
.info-agente ul li {
    margin-bottom: 7px;
}
.info-agente ul li i {
    color: #6f6d6d;
    margin-right: 4px;
}
.olPopup {
    border-radius: 5px;
    width: auto !important;
    height: auto !important;
    border: 1px solid #d8d1d1;
}
.olPopupContent {
    height: auto !important;
}

html, body,

#map {
    margin: 28px 0 0 0;
    width: 100%;
    height: 100%;
}

.checkbox {
    width: 32px;
    height: 32px;
}
  .badge-green {
    font-size: 20px;
    color: #ffffff;
    background-color: #008B00;
}

.badge-orange {
    font-size: 20px;
    color: #ffffff;
    background-color: #FFA500;
}

.badge-blue {
    font-size: 20px;
    color: #ffffff;
    background-color: #1E90FF;
}

.badge-darkorange {
    font-size: 20px;
    color: #ffffff;
    background-color: #CD6600;
}
.badge-red {
    font-size: 20px;
    color: #ffffff;
    background-color: #FF0000;
}

.badge-purple {
    font-size: 20px;
    color: #ffffff;
    background-color: #A020F0;
}
