<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Adicionar foreach de serviços -->
  <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbarCollapse">
    <div class="form-check form-check-inline">
      <input class="checkbox" type="checkbox" id="BHTRANS" value="BHTRANS" checked [(ngModel)]="filter[0]" (change)="updateFilters()">
      <label class="form-check-label text-white" for="BHTRANS">
        <span class="badge badge-green">
          <i class="fas fa-road"></i> BHTRANS</span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="checkbox" type="checkbox" id="DEFCIVIL" value="DEFCIVIL" checked [(ngModel)]="filter[1]" (change)="updateFilters()">
      <label class="form-check-label text-white" for="DEFCIVIL">
        <span class="badge badge-orange">
          <i class="fas fa-bullhorn"></i> Defesa Civil</span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="checkbox" type="checkbox" id="GUARMUN" value="GUARMUN" checked [(ngModel)]="filter[2]" (change)="updateFilters()">
      <label class="form-check-label text-white" for="GUARMUN">
        <span class="badge badge-blue">
          <i class="fas fa-user-shield"></i> Guarda Municipal</span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="checkbox" type="checkbox" id="SLU" value="SLU" checked [(ngModel)]="filter[3]" (change)="updateFilters()">
      <label class="form-check-label text-white" for="SLU">
        <span class="badge badge-darkorange">
          <i class="fas fa-trash"></i> SLU</span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="checkbox" type="checkbox" id="SAMU" value="SAMU" checked [(ngModel)]="filter[4]" (change)="updateFilters()">
      <label class="form-check-label text-white" for="SAMU">
        <span class="badge badge-red">
          <i class="fas fa-ambulance"></i> SAMU</span>
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="checkbox" type="checkbox" id="SUFIS" value="SUFIS" checked [(ngModel)]="filter[5]" (change)="updateFilters()">
      <label class="form-check-label text-white" for="SUFIS">
        <span class="badge badge-purple">
          <i class="fas fa-clipboard"></i> SUFIS</span>
      </label>
    </div>
  </div>
</nav>
<div id="map"></div>
<div id="Popup"></div>
