.info-agente {
    padding: 6px;
}
.info-agente h2 {
    font-size: 18px;
}
.info-agente ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
}
.info-agente ul li {
    margin-bottom: 7px;
}
.info-agente ul li i {
    color: #6f6d6d;
    margin-right: 4px;
}
.olPopup {
    border-radius: 5px;
    width: auto !important;
    height: auto !important;
    border: 1px solid #d8d1d1;
}
.olPopupContent {
    height: auto !important;
}
